html
    head  
        title= title
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")

    body.container
        h2 Welcome to Test Project
        p Please login to start your session

        form(method="POST").form-group
            label(for="username") Username
            input(type="text", placeholder= "username here", name="username").form-control
            label(for="password") Password
            input(type="text", placeholder= "password here", name="password").form-control

            input(type="submit", value="login").btn.btn-secondary

        p   
            a(href="/") Forgot Password?

        p   Don't have an account?  
            a(href="/auth/register").container  Register Here..!!!