html
    head  
        title= title
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")

    body.container
        p Welcome to Test Project
        p Please Register your account here if you haven't

        form(method="POST").form-group
            label(for="firstname") First Name
            input(type="text", placeholder= "firstname here", name="firstname").form-control
            label(for="lastname") Last Name
            input(type="text", placeholder= "lastname here", name="lastname").form-control
            label(for="password") Password
            input(type="text", placeholder= "enter password ", name="password").form-control
            label(for="re-password") Re-Enter Password
            input(type="text", placeholder= "re-enter your password", name="repassword").form-control
            label(for="username") User Name
            input(type="text", placeholder= "username here", name="username").form-control   
            label(for="email") email address
            input(type="text", placeholder= "enter your email-address here", name="email").form-control
          
            input(type="submit", value="register").btn.btn-primary


        p   Already Registered an Account?  
            a(href="/auth/login").container  Login..!!!